* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);*/
--Pale-Blue: hsl(243, 100%, 93%); 
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 48%, 30%);
--Very-Dark-Blue: hsl(229, 40%, 19%);
}

html {
    font-family: 'Raleway', sans-serif;
    color: var(--Pale-Blue);
}

body {
    background-image: url(/Fylo-data-storage-component/images/bg-mobile.png);
    background-size: cover;
}
.sec1 {
    width: 80%;
    height: 180px;
    background-color: var(--Dark-Blue);
    margin: 100px auto;
    border-radius: 10px 80px 10px 10px;
}

.logo {
    background-image: url(/Fylo-data-storage-component/images/logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    height: 80px;
    margin-left: 20px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 20px;
    justify-content:left;
}

.documentIco {
    
    background-image: url(/Fylo-data-storage-component/images/icon-document.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
    margin:  0 10px;
}

 .fileIco {
    background-image: url(/Fylo-data-storage-component/images/icon-folder.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
    background-position: center;
    margin:  0 10px;

} 

 .upIco {
    background-image: url(/Fylo-data-storage-component/images/icon-upload.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
    background-position: center;
    margin:  0 10px;
}

.sec2 {
    position: relative;
    width: 80%;
    height: 150px;
    background-color: var(--Dark-Blue);
    margin: 40px auto;
    border-radius: 15px;
    padding: 20px;
}

.sec2 p {
    font-size: 13px;
    text-align: center;
}

.sec2 p span {
    font-weight: bold;
}

.bar {
    margin: 20px auto;
    width: 80%;
    height: 15px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 25px;
    display: flex;
}

.barCircle {
    background-color: rgb(250, 246, 239);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 92% 0;
}

.use {
    background: linear-gradient(90deg, rgba(255,163,153,1) 35%, rgba(255,77,151,1) 100%);
    border-radius: 25px;
    width: 80%;
    height: 14px;
}

.left {
    position: absolute;
    background-color: white;
    width: 150px;
    border-radius: 10px;
    left: 30%;
    bottom: -20px;
    height: 60px;
    
}

.left span {
    color: black;
    font-size: 25px;
    text-align: center;
}
